.calendario {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4vh 0;

    background-color: #efefef;
}

.calendario ul, .calendario li{
    margin: 0;
    padding: 0;
}
.calendario li{
    list-style: none;
}

.event{
    width: 50vw;
    border-radius: 30px;
    margin: 2vh 0;
    padding-bottom: 2vh;

    background-color: white;
}

.event h2, .event p {
    padding: 0 3vw;
}
.event h2{
    padding: 2vh 3vw 0 3vw;
}

.event:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}