@font-face {
    font-family: 'Chancery';
    src: url('../../public/assets/fonts/Blackchancery.TTF');
}

@media (width >= 1100px) {

    .home{
        width: 100vw;

        background-color: #efefef;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .big-photo{
        display: flex;
        justify-content: center;

        width: 100vw;
        min-height: 90vh;

        background-image: url("https://imgix.cosmicjs.com/93847ec0-e537-11ee-a01e-c56f185aea7b-bg-photo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .big-photo h1{
        margin: 0;
        padding-top: 15vh;
        color: white;
        font-family: "Chancery";
        font-size: 8vw;
        font-weight: 200;
    }

    .next-event{
        width: 40vw;
        margin-top: -5vw;

        border-radius: 30px;

        background-color: white;
        
    }

    .next-event:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .next-event h2, .next-event h4, .next-event p{
        padding: 0 4vw;
    }

    .next-event h4{
        height: 2vw;
        padding: 2vw 4vw 1vw 4vw;
        margin: 0;

        border-bottom: 2px solid #efefef;

        font-weight: 400;

    }

    .next-event h2{
        margin: 2vw 0;
    }

    #next-event-description{
        padding-bottom: 2vw;
    }

    .cd{
        width: 40vw;
        margin: 5vw 0;

        display: flex;
        flex-direction: row;

        background-color: white;

        border-radius: 30px;
    }

    .cd:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .cd img{
        max-width: 20vw;
        border-radius: 30px 0 0 30px;
        margin-right: 1vw;
    }

    .cd h2{
        margin: 3vw 0;
    }

    .cd p{
        margin-bottom: 3vw;
    }

    .cd a{
        text-decoration: underline;
    }

    .cd a:hover{
        color: var(--tersicore-red);
        cursor: pointer;
    }

}

@media (550px <= width <= 1100px) {
    .home{
        width: 100vw;

        background-color: #efefef;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .big-photo{
        display: flex;
        justify-content: center;

        width: 100vw;
        min-height: 50vw;

        background-image: url("https://imgix.cosmicjs.com/93847ec0-e537-11ee-a01e-c56f185aea7b-bg-photo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .big-photo h1{
        margin: 0;
        padding-top: 8vw;
        color: white;
        font-family: "Chancery";
        font-size: 8vw;
        font-weight: 200;
    }

    .next-event{
        width: 80vw;
        margin-top: -8vw;

        border-radius: 30px;

        background-color: white;

        font-size: 90%;
        
    }

    .next-event:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .next-event h2, .next-event h4, .next-event p{
        padding: 0 4vw;
    }

    .next-event h4{
        padding: 2vw 0;
        text-align: center;
        margin: 0;

        /* border-bottom: 2px solid #efefef; */

        font-weight: 400;

    }

    .next-event h2{
        margin: 2vw 0;
    }

    #next-event-description{
        padding-bottom: 2vw;
    }

    .cd{
        width: 80vw;
        margin: 5vw 0;

        display: flex;
        flex-direction: row;

        background-color: white;

        border-radius: 30px;
    }

    .cd:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .cd img{
        max-width: 30vw;
        max-height: 30vw;
        border-radius: 30px 0 0 30px;
    }

    .cd div {
        margin: auto 1vw auto 2vw;
    }

    .cd h2, .cd p, .cd a{
        margin: 1vw;
    }

    .cd a{
        text-decoration: underline;
    }

    .cd a:hover{
        color: var(--tersicore-red);
        cursor: pointer;
    }
}

@media (width <= 550px) {
    .home{
        width: 100vw;

        background-color: #efefef;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .big-photo{
        display: none;
    }

    .next-event{
        width: 90vw;
        margin-top: 20vw;

        border-radius: 30px;

        background-color: white;

        font-size: 90%;
    }

    .next-event h2, .next-event h4, .next-event p{
        padding: 0 4vw;
    }

    .next-event h2{
        padding-top: 6vw;
        margin: 0;
    }

    .next-event h4{
        padding: 4vw 0;
        text-align: center;
        margin: 0;

        border-bottom: 2px solid #efefef;

        font-weight: 400;

    }

    #next-event-description{
        padding-bottom: 4vw;
    }

    .cd{
        width: 90vw;
        margin: 10vw 0;


        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;

        border-radius: 30px;
    }

    .cd img{
        max-width: 30vw;
        max-height: 30vw;

        margin: 8vw 0 4vw 0;

        border-radius: 30px;
    }

    .cd div {
        width: 70vw;
        margin: 4vw auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cd h2, .cd p, .cd a{
        text-align: center;
        margin: 2vw 0;
    }

    .cd a{
        color: var(--tersicore-red);
        text-decoration: none;

        font-size: large;
        font-weight: 500;

        padding: 4px 8px;
        background-color: #91110020;
        border-radius: 10px;
    }

    .cd a:hover{
        color: var(--tersicore-red);
        cursor: pointer;
    }
}